<page-header
  title="חיפוש דיג'ימונים חדשים"
  subTitle="צאי לגלות עולם חדש!"
  icon="fa-solid fa-sign-in
  "
  bgColor="alert-info rounded-3 p-2 m-2"
></page-header>

<mat-form-field class="example-form-field">
  <mat-label>שם הדיג'ימון</mat-label>
  <input matInput type="text" [(ngModel)]="digimonName" />
  @if (digimonName) {
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="digimonName = ''"
  >
    <mat-icon>close</mat-icon>
  </button>
  }
</mat-form-field>
<button
  class="btn"
  style="background-color: #ebc55a; margin-right: 10px"
  mat-raised-button
  (click)="getDigimonByName(digimonName)"
>
  !חפש דיג'ימון
</button>

  @if (digimon.id != 0) {
    @defer(on timer(500ms)){
  <h1>{{digimon.name}}</h1>
  <img src="{{digimon.img}}" alt="{{digimon.name}}">
  <p>{{digimon.level}}</p>
  <button
  class="btn"
  style="background-color: #ebc55a; margin-right: 10px"
  mat-raised-button
  (click)="addDigimon()"
>
קחי אותי!
</button>
}@placeholder {
  <mat-spinner></mat-spinner>
}

}
