<page-header
  title="הדיג'ימונים שלי"
  subTitle="כאן את יכולה לראות את כל הדיג'ימונים שאהבת"
  icon="fa-solid fa-sign-in
  "
  bgColor="alert-info rounded-3 p-2 m-2"
></page-header>

<div class="card-container">
  @if (digimons().length > 0) { 
    @for (digimon of digimons(); track digimon.id){

  <mat-card class="card">
    <mat-card-header >
        <mat-card-title>{{ digimon.name }}</mat-card-title>
      <img
        mat-card-sm-image
        class="card-image"
        src="{{digimon.img}}"
        alt="{{ digimon.name }}"
      />
      <p> {{ digimon.level }} </p>


    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="openDialog('0ms', '0ms',digimon)">Open dialog without animation</button>
      <button mat-button (click)="DeleteDigimon(digimon.id)">Delete</button>
    </mat-card-actions>
  </mat-card>

  } } @else() {
  <h1>sorrrrrryyyyy bro</h1>
  }
</div>
