<div class="card-container">
  @if (digimons.length > 0) { 
    @for (digimon of digimons; track digimon.id){

  <mat-card class="card">
    <mat-card-header >
        <mat-card-title>{{ digimon.name}}</mat-card-title>
      <img
        mat-card-sm-image
        class="card-image"
        src="{{digimon.img}}"
        alt="{{ digimon.name }}"
      />
      <p> {{ digimon.level }} </p>


    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Edit</button>
      <button mat-button (click)="DeleteDigimon(digimon.id)">Delete</button>
    </mat-card-actions>
  </mat-card>

  } } @else() {
  <h1>sorrrrrryyyyy bro</h1>
  }
</div>
