<page-header
  title="הוספה"
  subTitle="ראית אחד חדש? בואי תוסיפי אותו"
  icon="fa-solid fa-sign-in
  "
  bgColor="alert-info rounded-3 p-2 m-2"
></page-header>

<div class="container">
  <mat-card class="digimon-card">
    <form [formGroup]="digimonForm" (ngSubmit)="addDigimon()">
      <mat-form-field>
        <mat-label>שם</mat-label>
        <input matInput formControlName="name" />
        <mat-error class="error-text"> תפנקי ב4 תווים לפחות </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>רמת התפתחות</mat-label>
        <mat-select formControlName="level">
          <mat-option value="Rookie">Rookie</mat-option>
          <mat-option value="Champion">Champion</mat-option>
          <mat-option value="Mega">Mega</mat-option>
          <mat-option value="Ultimate">Ultimate</mat-option>
        </mat-select>
        <mat-error class="error-text"> את חייבת לבחור רמה</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>תמונה</mat-label>
        <textarea matInput formControlName="img"></textarea>
        <mat-error class="error-text">חייבים תמונה עם URL נורמאלי</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        class="btn"
        style="background-color: #ebc55a; text-align: center"
        [disabled]="!digimonForm.valid"
      >
        שלח
      </button>
    </form>
  </mat-card>
</div>
