.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digimon-card {
  background-color: #EBC55A;
  max-width: 250px;
}


mat-form-field {
  margin: 10px;
}

mat-label {
  font-size: 16px;
}

mat-input,
mat-select,
textarea {
  font-size: 14px;
  padding: 5px;
}

/* עיצוב כפתור */

button {
  margin: 10px;
  font-size: 16px;
  padding: 5px 10px;

}
mat-form-filed{
  text-align: center
}