# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore logs
*.log

# Ignore compiled files
*.class
*.pyc
*.exe
*.dll

# Ignore VSCode settings folder
.vscode/

# Ignore environment variables
.env

# Ignore MacOS system files
.DS_Store

# Ignore dist files
/dist