
  <mat-toolbar color="primary" class="center-text bg-digimon">
    <img
      src="https://github.com/Omri93Rajuan/Digimon_site/blob/master/assets/digimonHeader.png?raw=true"
      alt=""
      width="40%"
    />
  </mat-toolbar>
<img src="/Client/src/assets/2.png" alt="">
  <mat-toolbar-row style="background-color: #ebc55a; justify-content: space-evenly;">
    <nav-link text="הדיג'ימונים שלי" to="/digimom" image="/assets/2.png"></nav-link>
    <h3>שני</h3>
    <h3>שלישי</h3>
    <h3>רביעי</h3>
    <!-- <NavItem label="ראשי" to={ROUTES.ROOT} avatar={"/assets/6.png"} />
    <NavItem label="מידע" to={ROUTES.DETAILS} avatar={"/assets/2.png"} />
    <NavItem label="סרטים" to={ROUTES.MOVIE} avatar={"/assets/3.png"} />
    <NavItem label="אנימה" to={ROUTES.ANIME} avatar={"/assets/4.png"} />
    <NavItem label="משחקים" to={ROUTES.GAME} avatar={"/assets/5.png"} />
    <NavItem
      label="צוות האתר"
      to={ROUTES.ABOUT}
      avatar={"/assets/1.png"}
    /> -->
  </mat-toolbar-row>




