
  <mat-toolbar color="primary" class="center-text bg-digimon">
    <img
      src="/assets/digimonHeader.png"
      alt=""
      width= 500px;
      
      />
  </mat-toolbar>
  <mat-toolbar-row style="background-color: #ebc55a; justify-content: space-evenly;">
    <nav-link text="הדיג'ימונים שלי" to="/digimom" image="/assets/1.png"></nav-link>
    <nav-link text="הוספה" to="/digimom" image="/assets/2.png"></nav-link>
    <nav-link text="חיפוש" to="/digimom" image="/assets/3.png"></nav-link>
    <nav-link text="אודות" to="/digimom" image="/assets/4.png"></nav-link>
  </mat-toolbar-row>




