<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item>
        <nav-link text="הדיג'ימונים שלי" to="/myDigimon" image="/assets/1.png"></nav-link>
    </button>
    <button mat-menu-item>
        <nav-link text="הוספה" to="/newDigimon" image="/assets/2.png"></nav-link>
    </button>
    <button mat-menu-item>
        <nav-link text="חיפוש" to="/searchDigimon" image="/assets/3.png"></nav-link>
    </button>
    <button mat-menu-item>
        <nav-link text="אודות" to="/about" image="/assets/4.png"></nav-link>
    </button>
  </mat-menu>